body{
  background-color:hsl(233, 47%, 7%);
  
}
.main{
  background-color:  hsl(244, 38%, 16%);
 margin: 150px;
 height:500px;

}
.image{
 float: right;
height: 500px;
}
.body{
  text-align: left;

}
h1{
  padding-top: 100px;
   text-align:center;
   font-size: 30px;
   font-family:  'Inter', sans-serif;
   text-align: left;
     margin-left: 100px;
     color: hsl(0, 0%, 100%);
}
p{
  margin-left: 100px;
   text-align:left;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 2;
  color:  hsla(0, 0%, 100%, 0.75);
}
.insights{
  color: violet;
}
.table{
  padding-top: 40px;
  margin-left: 70px;
  text-align: left;
}
.end{
  font-size: 25px;
  font-family:  'Inter', sans-serif;
  height: 25px;
  padding-bottom:0;
  color: hsl(0, 0%, 100%);
}
.line{
  font-size: 10px;
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 0;
    color:  hsla(0, 0%, 100%, 0.75);
}
.attribution{
  color: white;
}
